
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
  transform: translate(-50%, -60%);
    box-sizing: border-box;
    border-radius: 10px;
}
.login-box h1{
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    text-align: centers;
}
.login-box .login-box-input{
    position: relative;
}
.login-box .login-box-input input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: transparent;
}
.login-box .login-box-input label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: 1px #000;
    transition: .5s;
}

.login-box .login-box-input input:focus ~ label,
.login-box .login-box-input input:valid ~ label,
.login-box .login-box-input input:hover ~ label,
.login-box .login-box-input label:hover{
    top: -20px;
    left: 0;
    font-size: 12px;
}
.login-box .login-box-input input:hover,
.login-box .login-box-input input:focus{
    transition: .2s;
    border-bottom: 2px solid gold;
}
.login-box .login-label input{
    padding: 16px 145px;
    font-size: 15px;
    border-radius: 6px;
    border: #cec498 none;
    color: rgb(0, 0, 0, .6);
}
.login-box .login-label label{
    vertical-align: -30px;
    color: #000;
}